!!!
%title= "Iron Fuzz"
%meta{ :charset => "utf-8" }
%meta{ :"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
%meta{ :content => "", :name => "description" }
%meta{ :content => "Matt Gauger", :name => "author" }
/[if lt IE 8]
  %link{ :href => "/css/ie.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
%link{ :href => "/css/screen.css", :rel => "stylesheet" }
%link{ :href => "http://fonts.googleapis.com/css?family=Roboto:400,700", :rel => "stylesheet", :type => "text/css" }

%body
  #container
    %header
      %h1
        Iron Fuzz

    %section#content
      %article

        %header
          %h2 January
          %h3 Secret Ingredient: Chorus
          %img.centered{ :src => "images/january_album_cover.png", :alt => "January Album Cover"}

          %p
            %article
              %details
                %summary How did we get here?
                %img#summary-image{ :src => "images/wtf.png", :alt => "WTF" }

                :markdown
                  I decided at some point in December to run a recording competition on [ilovefuzz.com](http://ilovefuzz.com). For some reason, I mashed up the idea of Iron Chef and got Iron Fuzz. The rules are simple:

                    * Record a cover song.
                    * Use the "secret ingredient" effect in your song.

                  My idea that was under constraints, people might be a little more comfortable recording and sharing their creation. (The constraints and light-hearted nature of the competition are there to help, and to prevent the kind of crippling perfectionism that plagues a lot of my own recording efforts.)

              %details
                %summary Details

                :markdown
                  The [thread](http://ilovefuzz.com/viewtopic.php?f=150&t=30780) where the competition was discussed follows the format of the Iron Fuzz show -- I've spared you from that style here. (But maybe in the future I will make the website more like a script for the show.)

            %img.centered{ :src => '/images/featuring.png' }
            %p.clearfix
              %strong
                %a{ :href => "http://www.ilovefuzz.com/memberlist.php?mode=viewprofile&u=5212" }
                  Gearmond

              <object height="81" width="100%" title="Adobe Flash Player"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/gearmond/seraph-improv&amp;show_comments=true&amp;auto_play=false&amp;color=000000">  <param name="allowscriptaccess" value="always"> <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/gearmond/seraph-improv&amp;show_comments=true&amp;auto_play=false&amp;color=000000" type="application/x-shockwave-flash" width="100%"> </object>

              %details
                %summary Chef's notes
                actually managed to get time to record something so i guess heres my entry for Iron Fuzz round 1
                %br/
                high volume recommended

              Source:
              %a{ :href => "http://soundcloud.com/gearmond/seraph-improv" }
                Soundcloud

            %p
              %strong
                %a{ :href => "http://www.ilovefuzz.com/memberlist.php?mode=viewprofile&u=3890" }
                  blahquaker

              <object height="81" width="100%" title="Adobe Flash Player"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/whistlingkitty/war-pigs-black-sabbath-cover&amp;show_comments=true&amp;auto_play=false&amp;color=000000">  <param name="allowscriptaccess" value="always"> <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/whistlingkitty/war-pigs-black-sabbath-cover&amp;show_comments=true&amp;auto_play=false&amp;color=000000" type="application/x-shockwave-flash" width="100%"> </object>

              Source:
              %a{ :href => "http://soundcloud.com/whistlingkitty/war-pigs-black-sabbath-cover" }
                Soundcloud

            %p
              %strong
                %a{ :href => "http://www.ilovefuzz.com/memberlist.php?mode=viewprofile&u=7351" }
                  skullservant

              <iframe width="400" height="100" style="position: relative; display: block; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=1947435602/size=venti/bgcol=FFFFFF/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://algeadestruction.bandcamp.com/album/battle-swine-war-pigs-cover">Battle Swine (War Pigs Cover) by SAVAGE CROSS</a></iframe>

              %details
                %summary Chef's notes
                This is the setup that I used. I recorded bass and guitar loops, and then did some additional tracking over top.
                %br/
                For chorus, I used a setting on the TimeFactor that gave a slow stereo chorus effect on both bass and guitar.
                %br/
                I also used the Memory Boy set to a faster, deeper chorus for two of the guitar parts.
                %br/
                %img{ :src => "http://distilleryimage3.s3.amazonaws.com/5110cd9a606011e28b2322000a1fbe1b_7.jpg", :alt => "skullservant's setup" }


              Source:
              %a{ :href => "http://algeadestruction.bandcamp.com/album/battle-swine-war-pigs-cover" }
                Bandcamp


            %p
              %strong
                %a{ :href => "http://www.ilovefuzz.com/memberlist.php?mode=viewprofile&u=7748" }
                  zRobertez

              <object height="81" width="100%" title="Adobe Flash Player"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/zrobertez/chorussong&amp;show_comments=true&amp;auto_play=false&amp;color=000000">  <param name="allowscriptaccess" value="always"> <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/zrobertez/chorussong&amp;show_comments=true&amp;auto_play=false&amp;color=000000" type="application/x-shockwave-flash" width="100%"> </object>

              %details
                %summary Chef's notes
                I didn't do a cover or use a real chorus... But here it is! It's a lot less fuzzy and a lot more cheesy.
                %br/
                Beginning is Malekko Vibrato.
                %br/
                Around 0:30, MXR M-117r flanger comes in with a chorusey tone + Foot Fetish od.
                %br/
                High part is quad tracked for a natural chorus kinda deal.
                %br/
                Solo is EB wah + Malekko Vibrato + Dyna comp + byoc octafuzz.
                %br/
                Ending is Diamond MLJr set to sound like a Sea Machine!
                %br/
                Solid gold surf rider on all tracks minus the drums!

              Source:
              %a{ :href => "http://soundcloud.com/zrobertez/chorussong" }
                Soundcloud

            %p
              %strong
                %a{ :href => "http://www.ilovefuzz.com/memberlist.php?mode=viewprofile&u=4463" }
                  bronzetalon

            %p
              <iframe width="640" height="360" src="https://www.youtube.com/embed/2VIv1YuFQdo" frameborder="0" allowfullscreen></iframe>

            %details
              %summary Chef's notes
              Chorus is on vocals and bass...chorus in a feedback loop for the noise.

            %p
              Source:
              %a{ :href => "http://www.youtube.com/watch?v=2VIv1YuFQdo" }
                Youtube

            %p
              %strong
                %a{ :href => "http://www.ilovefuzz.com/memberlist.php?mode=viewprofile&u=8115" }
                  fuzzywolf
                &amp;
                %a{ :href => "http://www.ilovefuzz.com/memberlist.php?mode=viewprofile&u=7744" }
                  Helter

              <object height="81" width="100%"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/wolfuzz/warpigs&amp;show_comments=true&amp;auto_play=false&amp;color=000000">  <param name="allowscriptaccess" value="always"> <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/wolfuzz/warpigs&amp;show_comments=true&amp;auto_play=false&amp;color=000000" type="application/x-shockwave-flash" width="100%"> </object>

              %details
                %summary Chef's notes
                Here's an entry made by myself and helter! aww yeeeeee
                %br/
                *places song on plate. adds extra garnishes to make it look more colorful and appetizing*
              Source:
              %a{ :href => "http://soundcloud.com/wolfuzz/warpigs" }
                Soundcloud

            %p
              %strong
                %a{ :href => "http://www.ilovefuzz.com/memberlist.php?mode=viewprofile&u=3794" }
                  hclapp219

              <object height="81" width="100%" title="Adobe Flash Player"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/hclapp219/war-pigs-cover&amp;show_comments=true&amp;auto_play=false&amp;color=000000">  <param name="allowscriptaccess" value="always"> <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=https://soundcloud.com/hclapp219/war-pigs-cover&amp;show_comments=true&amp;auto_play=false&amp;color=000000" type="application/x-shockwave-flash" width="100%"> </object>

              %details
                %summary Chef's notes
                I humble submit my music dish to the iron fuzz overlords. It is short and not really all that faithful to the original, but has the secret ingredient on guitars and the contact mic'd shaker. Also has some AB-Synth and Elements on there.

              Source:
              %a{ :href => "https://soundcloud.com/hclapp219/war-pigs-cover" }
                Soundcloud

            %img.centered{ :src => "/images/divider.png" }
            %br/

            %p
              Judging will go here when I have collected all the judges' responses.
            %p
              Until next month, be excellent to each other.
    %footer
      %p
        %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/deed.en_US", :rel => "license"}
          %img{:alt => "Creative Commons License", :src => "http://i.creativecommons.org/l/by-sa/3.0/88x31.png", :style => "border-width:0"}/
        %br/
        %span{:property => "dct:title", "xmlns:dct" => "http://purl.org/dc/terms/"} Iron Fuzz
        by
        %a{:href => "http://mathias.github.com", :property => "cc:attributionName", :rel => "cc:attributionURL", "xmlns:cc" => "http://creativecommons.org/ns#"} Matt Gauger
        is licensed under a
        = succeed "." do
          %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/deed.en_US", :rel => "license"} Creative Commons Attribution-ShareAlike 3.0 Unported License
        %br/
        All audio and video works are copyright their creators.
        :markdown
          [Source code](https://github.com/mathias/iron_fuzz)
